.contactContent {
    min-height: $minHeight;
    background: $color-1;
    border-radius: $borderRadius;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 45% 35%;
    grid-template-areas: 
    "1"
    "2"
    "3";

    .header {
        grid-area: 1;
        width: 115%;
        position: relative;
        background: $color-1;
        height: 200px;

        &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: url(../../src/media/carte.png) no-repeat center top/cover;
            filter: grayscale(100%);
        }
    }

    .contactBox {
        grid-area: 2;
        border-radius: $borderRadius;
        box-shadow: $boxShadow;
        background: $color-5;
        width:500px;
        z-index: 2;
        height: 300px;
        margin: 0 auto;
        padding: 1rem;
        h1 {
            color: $black;
        }
        ul {
            li {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                gap: 30px;
                margin-bottom: 20px;
                color: $black;
                font-weight: 500;
                cursor: pointer;
            }
        }
        
    }

    .socialNetwork {
        grid-area: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        
        ul {
            @include center;
            justify-content: space-around;
            width: 100%;

            a {
                @include center;
                width: 20%;
                font-size: 1.2rem;
                background: $color-5;
                border-radius: $borderRadius;
                flex-direction: column;
                padding: .7rem 0;
                box-shadow: 0  2px 4px $color-5;
                transform: scaleY(0);
                transform-origin: center;
                transition: .2s ease;
                transition: scale .1s;
                color: $black;

                &:hover {
                    background: $color-4;
                }
                i {
                    margin-top: .3rem;
                    font-size: 1.8rem;
                }
            }
        }

        // animation 
        @mixin networdAnim($timeout) {
            animation : pop 1s forwards;
            animation-delay: $timeout;
        }

        @keyframes pop {
            to{
                transform: scaleY(1);
            }
        }

        a:nth-child(1) {
            @include networdAnim(.4s)
        }
        a:nth-child(2) {
            @include networdAnim(.8s)
        }
        a:nth-child(3) {
            @include networdAnim(1.2s)
        }
    }
}


