    .homeContent {
      background: linear-gradient(115deg, $color-1 50%, transparent 100%);
      min-height: $minHeight;
      border-radius: $borderRadius;
      position: relative;
      overflow: hidden;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        width: inherit;
        background: url('../../src/media/8.jpg') no-repeat center/cover;
        z-index: -1;
        filter: brightness(100%);
      }
  
      .content {
        position: absolute;
        top: 20%;
        left: 13%;
        font-family: $font-1;
  
        h1 {
          font-size: 5rem;
          font-family: $font-3;
          color: $color-5;
          text-transform: uppercase;
          text-shadow: 3px 6px 2px $black;
        }
        h2 {
          font-size: 2.5rem;
          padding: 1.5rem 0 7rem;
          color: $color-3;
          text-shadow: 1px 4px 1px $black;
          font-family: $font-3;
          font-weight: bold;
        }
        .pdf {
          a {
            font-size: 1.5rem;
            background: $color-3;
            padding: .5rem 2rem;
            border-radius: $borderRadius;
            box-shadow: 0 5px 1px rgb(15, 15, 15);
            transition: 0.2s ease;
  
            &:hover {
              background: $color-4;
            }
          }
        }
      }
    }
  
  @media screen and (max-width: 850px){
    .homeContent {
      margin: 0 !important;
    }
  }
  
  @media screen and (max-width:580px){
    .homeContent {

      background: linear-gradient(rgba(26, 25, 25, 0.664) 100%, transparent 100%);
      width: 94% !important;
      &:after {
        background: url('../../src/media/profil.jpg') no-repeat center/cover !important;
        width: 200px;
        height: 200px;
        left: 60px;
        top: 20px;
        transform: translateX(-20px);
        border-radius: 50%;
        object-fit: cover;
      }
      h1 {
        margin: 8rem -.7rem 0;
        font-size: 2.5rem !important;
        color: #f1f1ff !important;
        font-family: $font-2 !important; 
      }
      h2 {
        margin-top: 5px;
        font-size: 1.5rem !important;
        text-shadow: 1px 2px 1px $black !important;
        color: #f1f1ff !important;
      }
      .pdf {
        margin: -4rem 1rem 0;
        a {
          font-size: 1rem !important;
          background: $color-1 !important;
          color: #f1f1ff !important;
          box-shadow: 0 3px 1px rgba(15, 15, 15, 0.678) !important;
          &:hover{
            color: $color-1 !important;
            background: $color-2 !important;

          }
        }
      }
     
    }
  }