.sidebar{
    min-height: $minHeight;
    border-radius: $borderRadius;
    background: $color-1;
    
    .id{
        color: $color-5;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 230px 260px 50px;
        .idContent{

            img {
                border-radius: 50%;
                box-shadow: 0 0 0 4px $color-3, 
                    0 0 0 8px $color-4, 
                    0 0 0 12px $color-5;
            }
            h3{
                text-transform: uppercase;
            }
        }
        .navigation {
            color: $color-5;
            ul{
                li{
                    .icon--text {
                        font-size: 1.5rem;
                        height: 100%;
                        display: grid;
                        &:hover i {
                            transform: scale(1.4);
                        }
                    }
                }
            }
        }
        .social {

            ul{
                
                li {
                    @include center;
                    background: $color-5;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    margin-right: 3rem;
                    a {
                        color: $black;
                        font-size: 1.8rem;

                    }
                }
            }
            .signature {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 572px){
    .social {
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}