.notFound{
    @include center;
    height: 95vh;
    background: $color-3;
    margin: 0 !important;
    border-radius: $borderRadius;
    text-align: center;

    .notFoundContent {
        
        h3 {
            font-size: 2rem;
        }
        a {
            padding: .7rem 3rem;
            border-radius: $borderRadius;
            background: $color-5;
            transition: .2s;
            color: $black;
            font-size: 1.3rem;
            font-weight: 600;
            &:hover {
                background: $color-4 !important;
            }
        }
    }
}