// parametres general

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

//les variables

// les polices
$font-1: 'Nova Round', cursive;
$font-2: 'Poppins', sans-serif;
$font-3: "serif";

// les couleurs
$color-1 : #2a1d53;
$color-2 : #6C77F4;
$color-3 : rgb(99, 164, 233);
$color-4 : #4FEDD2;
$color-5 : #36D0fa;
$white : #ddd;
$black : #333;

$borderRadius: 15px;
$boxShadow: 0 4px 7px $color-5;
$minHeight: 95vh;

// fin variables

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    margin: 1rem auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: $color-5;
}

button {
    cursor: pointer;
}

a:visited {
    color: $color-5;
}


// fin parametres general

.homeContent, .knowledgesContent, .portfolioContent, .contactContent {
    display: flex;

    @media screen and (max-width: 850px) {
        display: block !important;
    }
}

.homeContent, .knowledgesContent, .portfolioContent, .contactContent {

    @media screen and (max-width: 572px) {
        margin-top: 1rem;
        width: 95%;
    }
}

